.page-container.customer-gallery
  .container
    .row
      .col-sm-3.filter-list-container.is-open
        %h2.gallery-title
          Our Customers
        %h4.gallery-subtitle.js-open-list
          Industry
          %i.fa.fa-angle-down.pull-right.drawer-button
        %hr.gallery-separator

        .filter-list
          .radio
            %label
              %input{ type: "radio", name: "filter-industry", value: "any", class: 'industry-radio' }
              Any Industry
          .radio
            %label
              %input{ type: "radio", name: "filter-industry", value: "financial", class: 'industry-radio' }
              Financial Services
          .radio
            %label
              %input{ type: "radio", name: "filter-industry", value: "healthcare", class: 'industry-radio' }
              Healthcare
          .radio
            %label
              %input{ type: "radio", name: "filter-industry", value: "retail", class: 'industry-radio' }
              Retail
          .radio
            %label
              %input{ type: "radio", name: "filter-industry", value: "public", class: 'industry-radio' }
              Public Sector
          .radio
            %label
              %input{ type: "radio", name: "filter-industry", value: "technology", class: 'industry-radio' }
              Technology
          .radio
            %label
              %input{ type: "radio", name: "filter-industry", value: "telecom", class: 'industry-radio' }
              Telecommunications
          .radio
            %label
              %input{ type: "radio", name: "filter-industry", value: "science", class: 'industry-radio' }
              Science & Research

      .col-sm-offset-1.col-sm-8
        .org-groups-container
          - data.organizations.each do |org|
            = svg_image(org.logo, 'org-image', { data: { "industry-type": org.industry_type } })
                  
    .row
      .col-sm-12
        .center-horizontal
          %nav
            %ul.pagination
